<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103000963-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-103000963-1');
    </script>
    <meta charset="utf-8">
    <title>Yetric AB - Data Driven User Experience</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Sans+Condensed|IBM+Plex+Serif&amp;display=swap" rel="stylesheet" data-react-helmet="true" />
  <body>
    <header><a href="/">Yetric AB</a></header>
    <section class="main">
      <div id="app"></div>
    </section>
    <footer>&copy; <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> - <a href="https://yetric.com" target="_blank" rel="noopener">Yetric AB</a>
      <div>
      <ul>
        <li><a href="https://twitter.com/yetriccom" target="_blank">Twitter</a></li>
        <li><a href="https://www.facebook.com/yetricapp" target="_blank">Facebook</a></li>
        <li><a href="https://github.com/yetric" target="_blank">Github</a></li>
        <li><a href="https://yetric.net/" target="_blank">Blog</a></li>
        <li><a href="https://yetric.net/rss.xml" target="_blank">RSS Feed</a></li>
      </ul>
      </div>
    </footer>
  </body>
</html>
