<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yetric CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
  <body>
    <header><a href="/">Yetric CMS</a></header>
    <section class="main">
      <div id="app"></div>
    </section>
    <footer>&copy; 2019 - <a href="https://yetric.com" target="_blank" rel="noopener">Yetric AB</a></footer>
  </body>
</html>
