:root {
    --black-tint: #999999;
    --black: #1d1d1d;
    --black-shade: #161616;
    --white-tint: #fbfbfb;
    --white: #f7f7f7;
    --white-shade: #b9b9b9;
    --gray-tint: #cbd5db;
    --gray: #5e747f;
    --gray-shade: #47575f;
    --blue-tint: #9ed5eb;
    --blue: #27a2d2;
    --blue-shade: #1d7a9e;
    --green-tint: #cde2bd;
    --green: #90be6d;
    --green-shade: #6c8f52;
    --red-tint: #f1a698;
    --red: #df3a1a;
    --red-shade: #a72c14;
    --pink-tint: #f3e3e1;
    --pink: #e5c1bd;
    --pink-shade: #ac918e;
    --orange-tint: #f6cd93;
    --orange: #ea9010;
    --orange-shade: #b06c0c;
    --yellow-tint: #f6efa0;
    --yellow: #eadb2c;
    --yellow-shade: #b0a421;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--gray-tint);
    font-size: 16px;
    line-height: 1.75;
    color: var(--gray-shade);
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    > header {
        background: transparentize(#1d1d1d, 0.15);
        color: var(--gray-tint);
        text-align: center;
        line-height: 48px;
        a[href] {
            display: block;
            color: var(--white);
            &:hover {
                text-decoration: none;
            }
            &:before {
                position: relative;
                top: 10px;
                left: -5px;
                content: 'd';
                display: inline-block;
                height: 28px;
                width: 28px;
                background: url('./assets/img/yetric-icon-invert.png');
                background-size: contain;
                text-indent: -100000em;
            }
        }
    }

    > footer {
        background: transparentize(#b9b9b9, 0.1);
        color: var(--white-shade);
        text-align: center;
        padding: 24px 12px;
        font-size: 14px;

        ul {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 4px 12px;
                a[href] {
                    color: #8b8b8b;
                }
            }
        }
    }
}

a[href] {
    color: #3b75b0;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

blockquote {
    background: var(--gray-tint);
    margin: 20px 0;
    padding: 6px 40px;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    color: var(--gray-shade);
    border-left: 1px solid var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    line-height: 1.1;
    margin: 1.5em 0 0.5em;
    color: var(--black);
    &:first-child {
        margin-top: 0.5em;
    }
    > em {
        font-style: normal;
        background-image: -webkit-linear-gradient(102deg, var(--green), var(--green-shade));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    &.subtitle {
        margin-top: 0;
        font-weight: lighter;
        color: #8b8b8b;
        font-size: 130%;
    }
    &.maintitle {
        margin-bottom: 0.14em;
    }
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 145%;
}

p {
    &.lead {
        font-size: 24px;
        font-weight: lighter;
        line-height: 1.4;
        color: #616161;
    }
}

hr {
    border-width: 0;
    border-style: none;
    border-top: 1px solid var(--gray-tint);
    margin: 30px 0 0 0;
    line-height: 0;
}

a.btn, button.btn {
    display: inline-block;
    background: var(--green);
    color: #fff;
    line-height: 38px;
    padding: 0 18px;
    text-decoration: none;
    font-size: 16px;
    &:hover {
        text-decoration: none;
        background: var(--green-shade);
    }
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#app {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid var(--white-shade);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .05);
    ul {
        list-style: none;
        padding: 0;
        margin: 1.75em 0 0.75em 0;
        li {
            padding: 2px 0;
            &:before {
                content: '>';
                font-size: 12px;
                position: relative;
                top: -2px;
                margin-right: 4px;
                color: #8b8b8b;
                font-weight: 300;
            }
            a {
                strong {
                    font-weight: 600;
                }
            }
            .excerpt {
                margin: 0;
                font-size: 14px;
                color: var(--gray-shade);
            }
        }
    }
}

.main {
    flex: 1;
}

.page-img {
    padding: 0;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: 20px;
    img {
        max-width: 100%;
    }
}

#share-doc {
    cursor: pointer;
    color: var(--green);
}

#newsletter {
    width: 100%;
    max-width: 760px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background: #e8f1fa;

}

.form-group {
    label {
        display: block;
    }
    input:not([type="checkbox"]) {
        width: 100%;
        line-height: 32px;
        font-size: 16px;
        padding: 0 12px;
        border: 1px solid #ccc;
        color: var(--dark-gray);
        &:focus {
            outline: none;
            border: 1px solid var(--light-blue);
        }
    }
    padding-bottom: 12px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    .form-check-input {
        position: absolute;
        top: -3px;
        margin-left: -1.25rem;
    }
    .form-check-label {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (min-width: 480px) {
    .main {
        padding: 20px;
    }
}
