:root {
    /* Brand colors */
    --brand: #3973a7;
    --brand-gray: #9ca5a9;

    /* Blacks */
    --black: #323741;
    --black1: #343a47;
    --black2: #434c5e;
    --black3: #606c85;

    /* Grays */
    --gray: #8b929d;
    --gray1: #a4acb9;
    --gray2: #bfc8d7;

    /* Whites */
    --white: #d8e4e9;
    --white1: #e5ecf0;
    --white2: #ecf1f4;
    --white3: $white3;

    /* Accent */
    --accent: #2d7aad;
    --accent1: #50a8e2;
    --accent2: #4eb9e4;
    --accent3: #83d3f3;

    /* Terminal Named Colors */
    --red: #dd5765;
    --orange: #e99958;
    --yellow: #ebe18b;
    --green: #9cc27a;
    --purple: #af7aa5;
    --cyan: #009999;
    --magenta: #d47fd4;

    --meta: #717f9d;
    --meta-light: #8d9ec4;

    --positive: #9cc27a;
    --negative: #dd5765;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--white2);
    font-size: 16px;
    line-height: 1.75;
    color: var(--black);
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    > header {
        background: var(--brand);
        color: var(--white2);
        text-align: center;
        line-height: 48px;
        a[href] {
            display: block;
            color: var(--white);
            &:hover {
                text-decoration: none;
            }
            &:before {
                position: relative;
                top: 7px;
                left: -5px;
                content: '';
                display: inline-block;
                height: 28px;
                width: 28px;
                background: url('./assets/img/yetric-icon-invert.png');
                background-size: contain;
                text-indent: -100000em;
            }
        }
    }

    > footer {
        background: var(--white3);
        color: var(--black2);
        text-align: center;
        padding: 24px 12px;
        font-size: 14px;

        ul {
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 4px 12px;
                a[href] {
                    color: var(--black2);
                }
            }
        }
    }
}

a[href] {
    color: var(--brand);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

blockquote {
    margin: 20px 0;
    padding: 6px 40px;
    font-family: 'IBM Plex Serif', serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5;
    color: var(--gray);
    border-left: 1px solid var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    line-height: 1.1;
    margin: 1.5em 0 0.5em;
    color: var(--black);
    &:first-child {
        margin-top: 0.5em;
    }
    > em {
        font-style: normal;
        background-image: -webkit-linear-gradient(102deg, var(--green), var(--brand));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    &.subtitle {
        margin-top: 0;
        font-weight: lighter;
        color: var(--black2);
        font-size: 130%;
    }
    &.maintitle {
        margin-bottom: 0.14em;
    }
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 145%;
}

p {
    &.lead {
        font-size: 24px;
        font-weight: lighter;
        line-height: 1.4;
        color: #616161;
    }
}

hr {
    border-width: 0;
    border-style: none;
    border-top: 1px solid var(--white1);
    margin: 30px 0 0 0;
    line-height: 0;
}

a.btn, button.btn {
    display: inline-block;
    background: var(--accent2);
    color: #fff;
    line-height: 38px;
    padding: 0 18px;
    text-decoration: none;
    font-size: 16px;
    &:hover {
        text-decoration: none;
        background: var(--accent1);
    }
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#app {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid var(--white);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .02);
    ul {
        list-style: none;
        padding: 0;
        margin: 1.75em 0 0.75em 0;
        li {
            padding: 2px 0;
            &:before {
                content: '>';
                font-size: 12px;
                position: relative;
                top: -2px;
                margin-right: 4px;
                color: #8b8b8b;
                font-weight: 300;
            }
            a {
                strong {
                    font-weight: 600;
                }
            }
            .excerpt {
                margin: 0;
                font-size: 14px;
                color: var(--gray);
            }
        }
    }
}

.main {
    flex: 1;
}

.page-img {
    padding: 0;
    margin-left: -19px;
    margin-right: -19px;
    margin-bottom: 20px;
    img {
        max-width: 100%;
    }
}

#share-doc {
    cursor: pointer;
    color: var(--green);
}

#newsletter {
    width: 100%;
    max-width: 760px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background: var(--white1);
    border: 1px solid var(--white);

}

.form-group {
    label {
        display: block;
    }
    input:not([type="checkbox"]) {
        width: 100%;
        line-height: 32px;
        font-size: 16px;
        padding: 0 12px;
        border: 1px solid #ccc;
        color: var(--dark-gray);
        &:focus {
            outline: none;
            border: 1px solid var(--light-blue);
        }
    }
    padding-bottom: 12px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    .form-check-input {
        position: absolute;
        top: -3px;
        margin-left: -1.25rem;
    }
    .form-check-label {
        font-size: 12px;
        line-height: 12px;
    }
}

@media screen and (min-width: 480px) {
    .main {
        padding: 20px;
    }
}
